<a href="https://colab.research.google.com/github/thevipulsharma/bondai/blob/master/test/Test_Dataset_Framework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Test_Dataset_Framework

### Data
1. Company Financials
2. Company Stock Prices

In [0]:
# DB Files for S&P 500 Companies
from google.colab import drive

# Files to process
do_file = "/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/do_file.txt"
done_file = "/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/done_file.txt"

In [0]:
# Reading the files
import pandas as pd
do_df = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/do_file.txt", header=None, names=["Tickers"])
done_df = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/done_file.txt", header=None, names=["Tickers"])

In [0]:
do_set = set(do_df["Tickers"].tolist())
done_set = set(done_df["Tickers"].tolist())

In [0]:
# URL Paths for Stockrow Website

stockrow_url_paths = {
    'company': 'https://stockrow.com/api/companies/',
    'annual': {
        'income-statement': '/financials.xlsx?dimension=MRY&section=Income%20Statement&sort=desc',
        'balance-sheet': '/financials.xlsx?dimension=MRY&section=Balance%20Sheet&sort=desc',
        'cashflow-statement': '/financials.xlsx?dimension=MRY&section=Cash%20Flow&sort=desc',
        'metrics': '/financials.xlsx?dimension=MRY&section=Metrics&sort=desc',
        'growth': '/financials.xlsx?dimension=MRY&section=Growth&sort=desc'
    } 
}

In [0]:
# Stockrow Downloader
import requests
def stockrow_download(ticker):
    income_statement = pd.read_excel(stockrow_url_paths['company'] + ticker + stockrow_url_paths['annual']["income-statement"], engine="xlrd")
    balance_sheet = pd.read_excel(stockrow_url_paths['company'] + ticker + stockrow_url_paths['annual']["balance-sheet"], engine="xlrd")
    cashflow_statement = pd.read_excel(stockrow_url_paths['company'] + ticker + stockrow_url_paths['annual']["cashflow-statement"], engine="xlrd")
    metrics = pd.read_excel(stockrow_url_paths['company'] + ticker + stockrow_url_paths['annual']["metrics"], engine="xlrd")
    growth = pd.read_excel(stockrow_url_paths['company'] + ticker + stockrow_url_paths['annual']["growth"], engine="xlrd")
    return income_statement, balance_sheet, cashflow_statement, metrics, growth

In [0]:
# Modified Get Yahoo Quotes Script by Brad Luicas

__author__ = "Brad Luicas"
__copyright__ = "Copyright 2017, Brad Lucas"
__license__ = "MIT"
__version__ = "1.0.0"
__maintainer__ = "Brad Lucas"
__email__ = "brad@beaconhill.com"
__status__ = "Production"

import re
import sys
import time
import datetime
# import requests


def split_crumb_store(v):
    return v.split(':')[2].strip('"')


def find_crumb_store(lines):
    # Looking for
    # ,"CrumbStore":{"crumb":"9q.A4D1c.b9
    for l in lines:
        if re.findall(r'CrumbStore', l):
            return l
    print("Did not find CrumbStore")


def get_cookie_value(r):
    return {'B': r.cookies['B']}


def get_page_data(symbol):
    url = "https://finance.yahoo.com/quote/%s/?p=%s" % (symbol, symbol)
    r = requests.get(url)
    cookie = get_cookie_value(r)

    # Code to replace possible \u002F value
    # ,"CrumbStore":{"crumb":"FWP\u002F5EFll3U"
    # FWP\u002F5EFll3U
    lines = r.content.decode('unicode-escape').strip(). replace('}', '\n')
    return cookie, lines.split('\n')


def get_cookie_crumb(symbol):
    cookie, lines = get_page_data(symbol)
    crumb = split_crumb_store(find_crumb_store(lines))
    return cookie, crumb


def get_data(symbol, start_date, end_date, cookie, crumb):
    # filename = '%s.csv' % (symbol)
    url = "https://query1.finance.yahoo.com/v7/finance/download/%s?period1=%s&period2=%s&interval=1d&events=history&crumb=%s" % (symbol, start_date, end_date, crumb)
    response = requests.get(url, cookies=cookie)
    # with open (filename, 'wb') as handle:
    #     for block in response.iter_content(1024):
    #         handle.write(block)
    return response


def get_now_epoch():
    # @see https://www.linuxquestions.org/questions/programming-9/python-datetime-to-epoch-4175520007/#post5244109
    return int(time.time())


def download_quotes(symbol):
    start_date = 0
    end_date = get_now_epoch()
    cookie, crumb = get_cookie_crumb(symbol)
    historical_prices = get_data(symbol, start_date, end_date, cookie, crumb)
    return pd.read_csv(io.StringIO(historical_prices.content.decode('utf-8')))

In [0]:
import os
import io
def main():
    for ticker in do_set.copy():
        print("Downloading data for: " + ticker)
        income_statement, balance_sheet, cashflow_statement, metrics, growth = stockrow_download(ticker)
        historical_prices = download_quotes(ticker)
        with pd.ExcelWriter('/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/' + ticker + '.xlsx') as writer:
            historical_prices.to_excel(writer, sheet_name="historical_prices")
            balance_sheet.to_excel(writer, sheet_name="balance_sheet")
            income_statement.to_excel(writer, sheet_name="income_statement")
            cashflow_statement.to_excel(writer, sheet_name="cashflow_statement")
            metrics.to_excel(writer, sheet_name="metrics")
            growth.to_excel(writer, sheet_name="growth")
            
        done_set.add(ticker)
        do_set.discard(ticker)
        pd.DataFrame(list(done_list)).to_csv("/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/do_file.txt", header=None, index=False)
        pd.DataFrame(list(do_list)).to_csv("/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/do_file.txt", header=None, index=False)

In [89]:
main()

Downloading data for: AAPL

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: DeprecationWarning: invalid escape sequence '\/'

Downloading data for: IBM
Downloading data for: MSFT

In [0]:
income_statement, balance_sheet, cashflow_statement, metrics, growth = stockrow_download("AAPL")

In [57]:
# df = pd.ExcelFile("https://stockrow.com/api/companies/AAPL/financials.xlsx?dimension=MRQ&section=Balance%20Sheet&sort=desc", engine="xlrd")
# pd.read_excel(df)
import io
historical_prices = download_quotes("AAPL")
df = pd.read_csv(io.StringIO(historical_prices.content.decode('utf-8')))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: DeprecationWarning: invalid escape sequence '\/'

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.023007,117258400.0
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.021807,43971200.0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.020206,26432000.0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.020706,21610400.0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.021307,18362400.0
5,1980-12-19,0.504464,0.506696,0.504464,0.504464,0.022607,12157600.0
6,1980-12-22,0.529018,0.531250,0.529018,0.529018,0.023707,9340800.0
7,1980-12-23,0.551339,0.553571,0.551339,0.551339,0.024708,11737600.0
8,1980-12-24,0.580357,0.582589,0.580357,0.580357,0.026008,12000800.0
9,1980-12-26,0.633929,0.636161,0.633929,0.633929,0.028409,13893600.0
10,1980-12-29,0.642857,0.645089,0.642857,0.642857,0.028809,23290400.0
11,1980-12-30,0.629464,0.629464,0.627232,0.627232,0.028109,17220000.0
12,1980-12-31,0.611607,0.611607,0.609375,0.609375,0.027308,8937600.0
13,1981-01-02,0.616071,0.620536,0.616071,0.616071,0.027608,5415200.0
14,1981-01-05,0.604911,0.604911,0.602679,0.602679,0.027008,8932000.0
15,1981-01-06,0.578125,0.578125,0.575893,0.575893,0.025808,11289600.0
16,1981-01-07,0.553571,0.553571,0.551339,0.551339,0.024708,13921600.0
17,1981-01-08,0.542411,0.542411,0.540179,0.540179,0.024207,9956800.0
18,1981-01-09,0.569196,0.571429,0.569196,0.569196,0.025508,5376000.0
19,1981-01-12,0.569196,0.569196,0.564732,0.564732,0.025308,5924800.0
20,1981-01-13,0.546875,0.546875,0.544643,0.544643,0.024407,5762400.0
21,1981-01-14,0.546875,0.549107,0.546875,0.546875,0.024508,3572800.0
22,1981-01-15,0.558036,0.562500,0.558036,0.558036,0.025008,3516800.0
23,1981-01-16,0.555804,0.555804,0.553571,0.553571,0.024808,3348800.0
24,1981-01-19,0.587054,0.589286,0.587054,0.587054,0.026308,10393600.0
25,1981-01-20,0.571429,0.571429,0.569196,0.569196,0.025508,7520800.0
26,1981-01-21,0.580357,0.584821,0.580357,0.580357,0.026008,3976000.0
27,1981-01-22,0.587054,0.591518,0.587054,0.587054,0.026308,8887200.0
28,1981-01-23,0.587054,0.589286,0.584821,0.584821,0.026208,2805600.0
29,1981-01-26,0.578125,0.578125,0.575893,0.575893,0.025808,6160000.0
...,...,...,...,...,...,...,...
9623,2019-02-12,170.100006,171.000000,169.699997,170.889999,170.889999,22283500.0
9624,2019-02-13,171.389999,172.479996,169.919998,170.179993,170.179993,22490200.0
9625,2019-02-14,169.710007,171.259995,169.380005,170.800003,170.800003,21835700.0
9626,2019-02-15,171.250000,171.699997,169.750000,170.419998,170.419998,24626800.0
9627,2019-02-19,169.710007,171.440002,169.490005,170.929993,170.929993,18972800.0
9628,2019-02-20,171.190002,173.320007,170.990005,172.029999,172.029999,26114400.0
9629,2019-02-21,171.800003,172.369995,170.300003,171.059998,171.059998,17249700.0
9630,2019-02-22,171.580002,173.000000,171.380005,172.970001,172.970001,18913200.0
9631,2019-02-25,174.160004,175.869995,173.949997,174.229996,174.229996,21873400.0
9632,2019-02-26,173.710007,175.300003,173.169998,174.330002,174.330002,17070200.0
9633,2019-02-27,173.210007,175.000000,172.729996,174.869995,174.869995,27835400.0
9634,2019-02-28,174.320007,174.910004,172.919998,173.149994,173.149994,28215400.0
9635,2019-03-01,174.279999,175.149994,172.889999,174.970001,174.970001,25886200.0
9636,2019-03-04,175.690002,177.750000,173.970001,175.850006,175.850006,27436200.0
9637,2019-03-05,175.940002,176.000000,174.539993,175.529999,175.529999,19737400.0
9638,2019-03-06,174.669998,175.490005,173.940002,174.520004,174.520004,20810400.0
9639,2019-03-07,173.869995,174.440002,172.020004,172.500000,172.500000,24796400.0
9640,2019-03-08,170.320007,173.070007,169.500000,172.910004,172.910004,23999400.0
9641,2019-03-11,175.490005,179.119995,175.350006,178.899994,178.899994,32011000.0
9642,2019-03-12,180.000000,182.669998,179.369995,180.910004,180.910004,32467600.0
9643,2019-03-13,182.250000,183.300003,180.919998,181.710007,181.710007,31032500.0
9644,2019-03-14,183.899994,184.100006,182.559998,183.729996,183.729996,23579500.0
9645,2019-03-15,184.850006,187.330002,183.740005,186.119995,186.119995,39042900.0
9646,2019-03-18,185.800003,188.389999,185.789993,188.020004,188.020004,26219800.0
9647,2019-03-19,188.350006,188.990005,185.919998,186.529999,186.529999,31646400.0
9648,2019-03-20,186.229996,189.490005,184.729996,188.160004,188.160004,31035200.0
9649,2019-03-21,190.020004,196.330002,189.809998,195.089996,195.089996,51034200.0
9650,2019-03-22,195.339996,197.690002,190.779999,191.050003,191.050003,42407700.0
9651,2019-03-25,191.509995,191.979996,186.600006,188.740005,188.740005,43845300.0
9652,2019-03-26,191.660004,192.880005,184.580002,186.789993,186.789993,49719500.0

In [68]:
income_statement

,2018-09-29 00:00:00,2017-09-30 00:00:00,2016-09-24 00:00:00,2015-09-26 00:00:00,2014-09-27 00:00:00,2013-09-28 00:00:00,2012-09-29 00:00:00,2011-09-24 00:00:00,2010-09-25 00:00:00,2009-09-26 00:00:00
Revenue,2.655950e+11,2.292340e+11,2.156390e+11,2.337150e+11,1.827950e+11,1.709100e+11,1.565080e+11,1.082490e+11,6.522500e+10,4.290500e+10
Revenue Growth,1.586000e-01,6.300000e-02,-7.730000e-02,2.786000e-01,6.950000e-02,9.200000e-02,4.458000e-01,6.596000e-01,5.202000e-01,1.444000e-01
Cost of Revenue,1.637560e+11,1.410480e+11,1.313760e+11,1.400890e+11,1.122580e+11,1.066060e+11,8.784600e+10,6.443100e+10,3.954100e+10,2.568300e+10
Gross Profit,1.018390e+11,8.818600e+10,8.426300e+10,9.362600e+10,7.053700e+10,6.430400e+10,6.866200e+10,4.381800e+10,2.568400e+10,1.722200e+10
R&D Expenses,1.423600e+10,1.158100e+10,1.004500e+10,8.067000e+09,6.041000e+09,4.475000e+09,3.381000e+09,2.429000e+09,1.782000e+09,1.333000e+09
SG&A Expense,1.670500e+10,1.526100e+10,1.419400e+10,1.432900e+10,1.199300e+10,1.083000e+10,1.004000e+10,7.599000e+09,5.517000e+09,4.149000e+09
Operating Expenses,3.094100e+10,2.684200e+10,2.423900e+10,2.239600e+10,1.803400e+10,1.530500e+10,1.342100e+10,1.002800e+10,7.299000e+09,5.482000e+09
Operating Income,7.089800e+10,6.134400e+10,6.002400e+10,7.123000e+10,5.250300e+10,4.899900e+10,5.524100e+10,3.379000e+10,1.838500e+10,1.174000e+10
Interest Expense,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Earnings before Tax,7.290300e+10,6.408900e+10,6.137200e+10,7.251500e+10,5.348300e+10,5.015500e+10,5.576300e+10,3.420500e+10,1.854000e+10,1.206600e+10
Income Tax Expense,1.337200e+10,1.573800e+10,1.568500e+10,1.912100e+10,1.397300e+10,1.311800e+10,1.403000e+10,8.283000e+09,4.527000e+09,3.831000e+09
Net Income - Non-Controlling int,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Net Income - Discontinued ops,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Net Income,5.953100e+10,4.835100e+10,4.568700e+10,5.339400e+10,3.951000e+10,3.703700e+10,4.173300e+10,2.592200e+10,1.401300e+10,8.235000e+09
Preferred Dividends,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Net Income Com,5.953100e+10,4.835100e+10,4.568700e+10,5.339400e+10,3.951000e+10,3.703700e+10,4.173300e+10,2.592200e+10,1.401300e+10,8.235000e+09
EPS,1.201000e+01,9.270000e+00,8.350000e+00,9.280000e+00,6.490000e+00,5.720000e+00,6.380000e+00,4.007000e+00,2.201000e+00,1.317000e+00
EPS Diluted,1.191000e+01,9.210000e+00,8.310000e+00,9.220000e+00,6.450000e+00,5.680000e+00,6.310000e+00,3.954000e+00,2.164000e+00,1.297000e+00
Weighted Average Shs Out,4.955377e+09,5.217242e+09,5.470820e+09,5.753421e+09,6.085572e+09,6.477320e+09,6.543726e+09,6.469806e+09,6.366227e+09,6.251112e+09
Weighted Average Shs Out (Dil.),5.000109e+09,5.251692e+09,5.500281e+09,5.793069e+09,6.122663e+09,6.521634e+09,6.617483e+09,6.556515e+09,6.472984e+09,6.349035e+09
Dividend per Share,2.720000e+00,2.400000e+00,2.180000e+00,1.980000e+00,1.811000e+00,1.629000e+00,3.790000e-01,0.000000e+00,0.000000e+00,0.000000e+00
Gross Margin,3.834000e-01,3.847000e-01,3.908000e-01,4.006000e-01,3.859000e-01,3.762000e-01,4.387000e-01,4.048000e-01,3.938000e-01,4.014000e-01
EBITDA Margin,3.160000e-01,3.240000e-01,3.330000e-01,3.580000e-01,3.360000e-01,3.330000e-01,3.770000e-01,3.330000e-01,3.000000e-01,2.980000e-01
EBIT Margin,2.745000e-01,2.796000e-01,2.846000e-01,3.103000e-01,2.926000e-01,2.935000e-01,3.563000e-01,3.160000e-01,2.842000e-01,2.812000e-01
Profit Margin,2.240000e-01,2.110000e-01,2.120000e-01,2.280000e-01,2.160000e-01,2.170000e-01,2.670000e-01,2.390000e-01,2.150000e-01,1.920000e-01
Free Cash Flow margin,2.414000e-01,2.259000e-01,2.481000e-01,2.986000e-01,2.730000e-01,2.609000e-01,2.649000e-01,2.779000e-01,2.526000e-01,2.085000e-01
EBITDA,8.380600e+10,7.424600e+10,7.187700e+10,8.377200e+10,6.142900e+10,5.691200e+10,5.904000e+10,3.601900e+10,1.956700e+10,1.280000e+10
EBIT,7.290300e+10,6.408900e+10,6.137200e+10,7.251500e+10,5.348300e+10,5.015500e+10,5.576300e+10,3.420500e+10,1.854000e+10,1.206600e+10
Consolidated Income,5.953100e+10,4.835100e+10,4.568700e+10,5.339400e+10,3.951000e+10,3.703700e+10,4.173300e+10,2.592200e+10,1.401300e+10,8.235000e+09
Earnings Before Tax Margin,2.745000e-01,2.796000e-01,2.846000e-01,3.103000e-01,2.926000e-01,2.935000e-01,3.563000e-01,3.160000e-01,2.842000e-01,2.812000e-01
Net Profit Margin,2.241000e-01,2.109000e-01,2.119000e-01,2.285000e-01,2.161000e-01,2.167000e-01,2.667000e-01,2.395000e-01,2.148000e-01,1.919000e-01

In [0]:
with pd.ExcelWriter('/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/multi.xlsx') as writer:
    pd.read_csv(io.StringIO(historical_prices.content.decode('utf-8'))).to_excel(writer, sheet_name="stocks")
    balance_sheet.to_excel(writer, sheet_name="weather")

In [0]:
pd.DataFrame(list(done_list)).to_csv("/content/gdrive/My Drive/Colab Notebooks/Data/Bondai/Test/test.txt", header=None, index=False)